<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form style="margin-top:300px; margin-left: 300px">
        <h1 style="  margin-left: 300px; margin-bottom: 20px;"> Choose Any Option</h1>
        <div style="width: 1000px;  border: 2px solid black;  padding: 20px;  margin-left: 50px;">
            <button type="button" style=" 
            width: 200px; 
            margin-left: 120px; 
           height: 50px;  
           border: 5px; 
           color: aliceblue;
           background-color: darkslategray;
           border-radius: 17px; ">
                Play Quiz
            </button>
            <button type="button" style=" 
            width: 200px; 
            margin-left: 120px; 
           height: 50px;  
           border: 5px; 
           color: aliceblue;
           background-color: darkslategray;
           border-radius: 17px; ">
                Create Quiz
            </button>
            <button type="button" style=" 
            width: 200px; 
            color: aliceblue;
            margin-left: 120px; 
           height: 50px;  
           border: 5px; 
           background-color: darkslategray;
           border-radius: 17px; ">
                Score Dashboard
            </button>
    
        </div>
           </form>
</body>
</html>