<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>  
    <style>
        body  
{  
    margin: 0;  
    padding: 0;  
    font-family: 'Arial';  
}  
.SignUp{  
        width: 500px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;       
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    padding: 20px;  
}  
label{  
 
    font-size: 25px;  
}  
#name{  
    width: 500px;  
    height: 50px;  
    border: 1px solid black; 
    border-radius: 3px;  
    padding-left: 8px;  
} 
#email{  
    width: 500px;  
    height: 50px;  
    border: 1px solid black; 
    border-radius: 3px;  
    padding-left: 8px;
}   
#pass{  
    width: 500px;  
    height: 50px;  
    border: 1px solid black; 
    border-radius: 3px;  
    padding-left: 8px;
}  
#log{  
   
    width: 200px;  
    height: 50px;  
    border: 5px;  
    border-radius: 17px;   
  
}  
#createAccount{
    width: 200px;  
    height: 50px;  
    border: 5px;  
    border-radius: 17px; 
}
span{  
    color: white;  
    font-size: 17px;  
}  
  </style>  
</head>    
<body>    
    <h2><%- locals.title %> </h2><br>    
    <div class="SignUp">    
    <form method="post" action="/signUp"> 

        <label ><b>User Name     
        </b>    
        </label>    
        <input type="text" name="name" id="name" placeholder="Username">    
        <br><br> 
        <label><b>Email    
        </b>    
        </label>    
        <input type="Email" name="email" id="email" placeholder="Email">    
        <br><br>    
        
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="password" id="pass" placeholder="Password">    
        <br><br>    
        
        <input type="submit" name="createAccount" id="createAccount" value="SignUp">       
        <br><br>    
    </form>  
    <ul>
        <li><a href="/login">Already have an account?</a></li>
    </ul>     
</div>    
</body>    
</html> 