<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>  
    <style>
        body  
{  
    margin: 0;  
    padding: 0;  
    font-family: 'Arial';  
}  
.SignUp{  
        width: 500px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;       
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    padding: 20px;  
}  
label{  
 
    font-size: 25px;  
}  
#Uname{  
    width: 500px;  
    height: 50px;  
    border: 1px solid black; 
    border-radius: 3px;  
    padding-left: 8px;  
} 
#Email{  
    width: 500px;  
    height: 50px;  
    border: 1px solid black; 
    border-radius: 3px;  
    padding-left: 8px;
}   
#Pass{  
    width: 500px;  
    height: 50px;  
    border: 1px solid black; 
    border-radius: 3px;  
    padding-left: 8px;
}  
#log{  
   
    width: 200px;  
    height: 50px;  
    border: 5px;  
    border-radius: 17px;   
  
}  
#createAccount{
    width: 200px;  
    height: 50px;  
    border: 5px;  
    border-radius: 17px; 
}
span{  
    color: white;  
    font-size: 17px;  
}  
  </style>  
</head>    
<body>    
    <h2>SignUp Page</h2><br>    
    <div class="SignUp">    
    <form method="get" action="login.php"> 

        <label ><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br> 
        <label><b>Email    
        </b>    
        </label>    
        <input type="Email" name="Email" id="Email" placeholder="Email">    
        <br><br>    
        
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        
        <input type="button" name="createAccount" id="createAccount" value="SignUp">       
        <br><br>    
        <input type="button" name="log" id="log" value="Already have account?">       

    </form>     
</div>    
</body>    
</html> 